@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14.5%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14.5%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.5%;
    --primary: 142 45% 69.5%;
    --primary-foreground: 0 0% 98.5%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 20.5%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55.6%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 20.5%;
    --destructive: 30 85% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 92.2%;
    --input: 0 0% 92.2%;
    --ring: 0 0% 70.8%;
    --radius: 0.625rem;
    --chart-1: 252 50% 81%;
    --chart-2: 260 66% 62%;
    --chart-3: 263 73% 55%;
    --chart-4: 264 73% 49%;
    --chart-5: 266 64% 42%;
  }

  .dark:root {
    --background: 0 0% 14.5%;
    --foreground: 0 0% 98.5%;
    --card: 0 0% 20.5%;
    --card-foreground: 0 0% 98.5%;
    --popover: 0 0% 26.9%;
    --popover-foreground: 0 0% 98.5%;
    --primary: 142 45% 69.5%;
    --primary-foreground: 0 0% 20.5%;
    --secondary: 0 0% 26.9%;
    --secondary-foreground: 0 0% 98.5%;
    --muted: 0 0% 26.9%;
    --muted-foreground: 0 0% 70.8%;
    --accent: 0 0% 37.1%;
    --accent-foreground: 0 0% 98.5%;
    --destructive: 30 85% 65%;
    --destructive-foreground: 0 0% 98.5%;
    --border: 0 0% 27.5%;
    --input: 0 0% 32.5%;
    --ring: 0 0% 55.6%;
    --chart-1: 252 50% 81%;
    --chart-2: 260 66% 62%;
    --chart-3: 263 73% 55%;
    --chart-4: 264 73% 49%;
    --chart-5: 266 64% 42%;
  }
}
